@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');

#container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

#Blog {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    height: 50vh;
}

#Top {
    display: flex;
    flex-direction: row;
}

#inputName {
    flex: 1 1 500px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0 20px 20px 0;
}

#inputDate {
    flex: 0 1 400px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0 0 20px 20px;
}

#inputContent {
    flex: 1 1 80%;
    margin: 20px 0;
    resize: none;
    font-size: 25px;
}

#submit {
    flex: 0 1 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}