@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');

* {
    /*border: 1px solid darkolivegreen;*/
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --backgroundA: #46e6cb;
    --backgroundB: #40cab3;
    --textA: #353535;
    --textB: #dfdfdf;
    --fontA: 'Montserrat', sans-serif;
    --fontB: 'Ubuntu', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#Lbd {
    border-radius: 0 0 0 50px;
}

#Rbd {
    border-radius: 0 0 50px 0;
}

#NavBar {
    position: fixed;
    left: 20%;
    /* background-color: var(--backgroundA); */
    display: table;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-radius: 0 0 50px 50px;
    z-index: 3;
    transition: 0.4s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#NavBar a {
    display: table-cell;
    vertical-align: middle;
    flex: 0 1 20%;
    text-align: center;
    font-family: var(--fontA);
    font-size: 1.4em;
    /* background-color: var(--backgroundA); */
    background-color: rgba(0, 0, 0, 0.1);
    /* padding: 15px 0; */
    color: var(--backgroundA);
    text-decoration: none;
    transition-duration: 0.3s;
    z-index: 2;
}

#NavBar a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: var(--backgroundB); */
}

#NavBar a.active {
    color: var(--backgroundB);
    /* background-color: var(--textA); */
    background-color: rgba(0, 0, 0, 0.5);
}

#Welcome {
    height: 100vh;
    background-image: url('../img/Background/Part1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Things {
    background-image: url('../img/Background/Part2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    padding-bottom: 100px;
}

#PartThree {
    background-image: url('../img/Background/Part3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    padding-bottom: 70px;
}

#Blog {
	background-image: url('../img/Background/Part5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    padding-bottom: 70px;
}
	

#Commissions {
    background-image: url('../img/Background/Part4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    padding-bottom: 70px;
}

#UsefulThings {
    background-image: url('../img/Background/Part5.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    padding-bottom: 70px;
}

#CheckMeOut {
    background-image: url('../img/Background/Part3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
    padding-bottom: 3em;
    position: relative;
    /* padding: auto; */
}

.Name {
    text-align: center;
    margin: 0;
    padding: 100px 0;
}

.Name h1 {
    font-family: var(--fontA);    
    font-size: 5.5em;
    text-align: center;
    margin: inherit auto;
    color: var(--textB);
    letter-spacing: 0.3em;
    margin-bottom: 1.2em;
}

.Name p {
    font-family: var(--fontA);
    font-size: 1.3em;
    color: var(--textB);
    /* padding: 0 33em; */
    width: 30%;
    margin: auto;
    margin-bottom: 3em;
    text-justify: inter-word;
    text-align: justify;
}

#BottomBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 50px; */
    background: rgba(0, 0, 0, 0.3);
    padding: 1em;
}

#BottomBar p {
    font-family: var(--fontA);
    font-size: 1em;
    height: 40px;
    margin: 0;
    padding: 2em;
}

.grid {
    display: flex;
    margin: 0 2.5%;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#CheckMeOut a {
    transition-duration: 0.3s;
}
#CheckMeOut a:hover {
    filter: brightness(60%);
}

#CheckMeOut .paddedBox {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    width: 100%;
    margin-top: 4em;
}

#CheckMeOut .paddedBox a {
    place-self: center;
}

.exLink {
    width: 100px;
}

.exlink:hover {
    cursor: pointer;
}

#BlogContainer {
    flex-direction: row;
    display: flex;
    grid-template-rows: 470px;
    grid-gap: 20px;
    padding: 20px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    /* scroll-behavior: auto; */
    margin: auto;
}

#buttonLeft, #buttonRight {
    /* color: #fdfdfd; */
    align-self: center;
    flex: 0 0 20%;
    position: relative;
}

#buttonLeft button, #buttonRight button {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    width: 110px;
    height: 110px;
    line-height: 0;
    font-size: 5em;
    margin: 0;
    border-radius: 50%;
    color: var(--textA);
    border: 4px solid var(--textA);
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
}

#buttonLeft button:hover, #buttonRight button:hover {
    color: var(--backgroundA);
    border: 4px solid var(--backgroundA);
}

#buttonLeft button {
    position: absolute;
    right: 0;
}

#buttonRight button {
    position: absolute;
    left: 0;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(200%)
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-200%)
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(-200%)
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(200%)
    }
    100% {
        transform: translateX(0%)
    }
}

.slideRight {
    animation: slideOutRight 0.3s;
}

.slideRight2 {
    animation: slideInRight 0.3s;
}

.slideLeft {
    animation: slideOutLeft 0.3s;
}

.slideLeft2 {
    animation: slideInLeft 0.3s;
}

#blogPost {
    height: 70vh;
    flex: 0 0 40%;
    margin: auto;
    border-radius: 50px;
    /* background: var(--backgroundA); */
    background: rgba(0, 0, 0, 0.3);
    color: #dfdfdf;
}

#blogPost div {
    width: 100%;
    margin: 0;
    height: 7vh;
    /* background: var(--textA); */
    /* color: var(--backgroundA); */
    background: var(--backgroundA);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 40px 40px 0 0;
}

#blogContent {
    margin: 2em;
    font-size: 1.2em;
}

#blogName {
    font-size: 1.4em;
    position: relative;
    left: 40px;
    top: 20px;
    /* color: var(--backgroundA); */
    margin: 0;
    font-weight: bold
}

#blogDate {
    position: relative;
    font-size: 1.4em;
    top: -5px;
    left: 80%;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
    width: auto;
}

::-webkit-scrollbar-track {
    background: var(--textA);
    /* background: rgba(53, 53, 53, 0.5); */
}

::-webkit-scrollbar-thumb {
    background: var(--backgroundA);
    border-radius: 10px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundB);
}

#embeds {
    display: flex;
}

#Temp {
    width: 400px;
    height: 400px;
    background: var(--textB);
}

#twitch-embed {
    margin-left: 6%;
    margin-right: 3em;
}

#ComGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 40px;
    margin: 2em;
    justify-content: center;
}

.comItem {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    transition-duration: 0.12s;
    border-radius: 10px;
    /* border: 1px solid var(--textB); */
}

.comItem:hover {
    margin-top: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.comItem img {
    width: 100%;
    height: 290px;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    /* object-fit: cover; */
    background: #000;
}

.comItem div {
    height: 170px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--textB);
}

.comItem div .itemName {
    margin: 1em;
    font-size: 1.2em;
    padding: 0;
    font-weight: bold;
    height: 100px;
}

.comItem div .itemDescription {
    margin: 1em;
    padding: 0;
    /* visibility: hidden; */
    display: none;
}

.comItem .price {
    position: absolute;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    top: 0;
    right: 0;
    background: var(--backgroundA);
    color: var(--textA);
    border-radius: 20px;
}

.close {
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 45px;
    height: 45px;
    opacity: 0.3;
    transition-duration: 0.2s;
}
.close:hover {
    opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 30px;
    content: ' ';
    height: 45px;
    width: 2px;
    background-color: var(--textB);
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#Modal {
    display: none;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#ModalContent {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

#ModalContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    margin: 3em auto;
    border-radius: 10px;
}

#ModalIMG {
    height: 512px;
    width: 1024px;
    object-fit: contain;
    background: rgba(0, 0, 0, 1);
    border-radius: 10px 10px 0 0;
}

#ModalBox {
    position: relative;
    background: #fff;
    height: 300px;
    border-radius: 0 0 10px 10px;
    color: var(--textA);
}

#AusClock-small {
    display: none;
}

#ModalPrice {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
    background: var(--backgroundA);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

#ModalName {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
}

#ModalDesc {
    margin: 20px;
    word-wrap: normal;
    width: 850px;
    font-size: 1.1em;
}

#ModalBuy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
    font-weight: bold;
    text-align: center;
    background: var(--backgroundA);
    color: var(--textA);
    padding: 10px;
    width: 20%;
    border-radius: 20px;
    transition-duration: 0.2s;
    text-decoration: none;
}

#ModalBuy:hover {
    background: var(--backgroundB);
    cursor: pointer;
}

#SmallEmbeds {
    display: none;
}

#AusClock {
    margin: auto;
}

#BottomBar p {
    color: #dfdfdf;
    padding: 0;
    text-align: center;
    padding: 5px 0;
    height: auto;
}